pkgbase = treehouse-bin
	pkgdesc = Manage worktrees without managing worktrees
	pkgver = 2.0.0
	pkgrel = 1
	url = https://github.com/kunchenguid/treehouse
	arch = x86_64
	license = MIT
	depends = git
	depends = glibc
	provides = treehouse
	conflicts = treehouse
	options = !debug
	source = https://github.com/kunchenguid/treehouse/releases/download/v2.0.0/treehouse-v2.0.0-linux-amd64.tar.gz
	source = LICENSE::https://raw.githubusercontent.com/kunchenguid/treehouse/v2.0.0/LICENSE
	sha256sums = b7926c19633ee94582b7f1b58369f22b304ae7228a47253c2148e3a8176f03b0
	sha256sums = 1b962d20f826f6a758c737f8aa4e8e76dc719b8aa78fcfacdfb46681bb36c2f4

pkgname = treehouse-bin
