pkgbase = acolyte-agent-bin
	pkgdesc = A terminal-first AI coding assistant: local-first, observable, and built for extension
	pkgver = 0.5.0
	pkgrel = 1
	url = https://github.com/cniska/acolyte
	arch = x86_64
	license = MIT
	depends = glibc
	provides = acolyte-agent
	conflicts = acolyte-agent
	options = !debug
	source = acolyte-0.5.0-linux-x64.tar.gz::https://github.com/cniska/acolyte/releases/download/v0.5.0/acolyte-linux-x64.tar.gz
	source = LICENSE::https://raw.githubusercontent.com/cniska/acolyte/v0.5.0/LICENSE
	sha256sums = 8a8325e9ba8c475053000b2269b5769272258ba74b63b0d34599124826b383cf
	sha256sums = b7b35ff331074f29ea4ff1887c097833d979a453eb877f2f818d0f76584b8476

pkgname = acolyte-agent-bin
