pkgbase = tidewave-cli
	pkgdesc = Tidewave CLI
	pkgver = 0.4.4
	pkgrel = 1
	url = https://github.com/tidewave-ai/tidewave_app
	arch = x86_64
	license = Apache-2.0
	depends = glibc
	depends = libgcc_s.so
	provides = tidewave-cli
	options = !debug
	source = tidewave-cli-x86_64-0.4.4-1-unknown-linux-gnu::https://github.com/tidewave-ai/tidewave_app/releases/download/v0.4.4/tidewave-cli-x86_64-unknown-linux-gnu
	sha256sums = 22c31f7a34cab472651dbb10f6e2c9c0671841ddbf0a51c06a29480e7fc1f51a

pkgname = tidewave-cli
