pkgbase = skills-bin
	pkgdesc = CLI for the open agent skills ecosystem
	pkgver = 1.5.18
	pkgrel = 1
	url = https://github.com/vercel-labs/skills
	arch = any
	license = MIT
	makedepends = npm
	depends = git
	depends = nodejs>=18
	provides = skills
	conflicts = skills
	noextract = skills-1.5.18.tgz
	source = https://registry.npmjs.org/skills/-/skills-1.5.18.tgz
	sha512sums = 5b042ea888664b69eb9f51f71c06c4dad19eededa7a5cd5cc0c72e70c2aa9a405dab39bb9f1cdc6414ea5e21e350a8696a540b13f9cd3ed11d731dd0617e134f

pkgname = skills-bin
