pkgbase = skills-bin
	pkgdesc = CLI for the open agent skills ecosystem
	pkgver = 1.5.24
	pkgrel = 1
	url = https://github.com/vercel-labs/skills
	arch = any
	license = MIT
	makedepends = npm
	depends = git
	depends = nodejs>=18
	provides = skills
	conflicts = skills
	noextract = skills-1.5.24.tgz
	source = https://registry.npmjs.org/skills/-/skills-1.5.24.tgz
	sha512sums = 913b7524aacd4ef6e52d2d9c74d3a45d73e2c98964aa39636b7ff0739c9e9c30d9ba1da5caed81ea84f3373bc4a2d8a4e458850735c37c04ff30660775debef5

pkgname = skills-bin
