pkgbase = skills-bin
	pkgdesc = CLI for the open agent skills ecosystem
	pkgver = 1.6.0
	pkgrel = 1
	url = https://github.com/vercel-labs/skills
	arch = any
	license = MIT
	makedepends = npm
	depends = git
	depends = nodejs>=18
	provides = skills
	conflicts = skills
	noextract = skills-1.6.0.tgz
	source = https://registry.npmjs.org/skills/-/skills-1.6.0.tgz
	sha512sums = 136b4df0f33645e62db7cc715c52d3226ff83968cb7ae86e76001e8cdd0dfe0e58afa05876ff983f63cae5583d2f73b3dda460bbaee8bd6cc03b763a67724959

pkgname = skills-bin
