pkgbase = sentry-cli-bin
	pkgdesc = Command-line interface for Sentry
	pkgver = 0.41.0
	pkgrel = 1
	url = https://github.com/getsentry/cli
	arch = x86_64
	arch = aarch64
	license = FSL-1.1-ALv2
	depends = glibc
	depends = gcc-libs
	provides = sentry
	conflicts = sentry
	options = !debug
	options = !strip
	source = LICENSE.md::https://raw.githubusercontent.com/getsentry/cli/0.41.0/LICENSE.md
	sha256sums = c51f382a888f8f59f54a72af01e2d72032f2ba8f31d8194f8bf489123438195a
	source_x86_64 = sentry-0.41.0-x86_64.gz::https://github.com/getsentry/cli/releases/download/0.41.0/sentry-linux-x64.gz
	sha256sums_x86_64 = d555a8647b8c7016b7642b4b968fff2789c0c82968c8f029cb82925b868930d1
	source_aarch64 = sentry-0.41.0-aarch64.gz::https://github.com/getsentry/cli/releases/download/0.41.0/sentry-linux-arm64.gz
	sha256sums_aarch64 = fb9286752fc23cb467cacf5cf0cd9f7a3a9fc4bfb33bd157694cb947908c9fa7

pkgname = sentry-cli-bin
