pkgbase = sentry-cli-bin
	pkgdesc = Command-line interface for Sentry
	pkgver = 0.42.2
	pkgrel = 1
	url = https://github.com/getsentry/cli
	arch = x86_64
	arch = aarch64
	license = FSL-1.1-ALv2
	depends = glibc
	depends = gcc-libs
	provides = sentry
	conflicts = sentry
	options = !debug
	options = !strip
	source = LICENSE.md::https://raw.githubusercontent.com/getsentry/cli/0.42.2/LICENSE.md
	sha256sums = c51f382a888f8f59f54a72af01e2d72032f2ba8f31d8194f8bf489123438195a
	source_x86_64 = sentry-0.42.2-x86_64.gz::https://github.com/getsentry/cli/releases/download/0.42.2/sentry-linux-x64.gz
	sha256sums_x86_64 = 65c19a006ba6440cd1e641eb74c8697a3afb6a213a2ad64b73a03ba75799fe10
	source_aarch64 = sentry-0.42.2-aarch64.gz::https://github.com/getsentry/cli/releases/download/0.42.2/sentry-linux-arm64.gz
	sha256sums_aarch64 = ac7e2aba35e7909fd61d5122fff30fc7a9cd2474ff33e1448ed350f4b89ad315

pkgname = sentry-cli-bin
