pkgbase = no-mistakes-bin
	pkgdesc = Local Git proxy that validates code before pushing
	pkgver = 1.48.0
	pkgrel = 1
	url = https://github.com/kunchenguid/no-mistakes
	arch = x86_64
	license = MIT
	depends = git
	optdepends = github-cli: GitHub pull requests and CI integration
	optdepends = glab: GitLab merge requests and CI integration
	optdepends = github-copilot-cli: GitHub Copilot validation agent
	optdepends = openai-codex: Codex validation agent
	optdepends = pi-agent: Pi validation agent
	provides = no-mistakes
	conflicts = no-mistakes
	options = !debug
	source = https://github.com/kunchenguid/no-mistakes/releases/download/v1.48.0/no-mistakes-v1.48.0-linux-amd64.tar.gz
	source = LICENSE::https://raw.githubusercontent.com/kunchenguid/no-mistakes/v1.48.0/LICENSE
	sha256sums = c67c65d626f4c6e6b44c2c079232ec8104f565d124cbe5a300766c85c2ba5bc0
	sha256sums = 945016bd37e1ba7211622ef60ee1d23ab727896ba7710edd21e8fbe983863969

pkgname = no-mistakes-bin
