pkgbase = github-copilot-cli
	pkgdesc = GitHub Copilot CLI brings the power of Copilot coding agent directly to your terminal.
	pkgver = 1.0.64
	pkgrel = 1
	url = https://github.com/github/copilot-cli
	arch = x86_64
	license = LicenseRef-GitHub
	makedepends = npm
	makedepends = jq
	depends = glibc
	depends = nodejs
	depends = glib2
	depends = libsecret
	depends = dbus
	provides = copilot
	conflicts = github-copilot-cli-legacy
	noextract = copilot-1.0.64.tgz
	options = !strip
	options = !debug
	options = emptydirs
	options = staticlibs
	options = zipman
	source = https://registry.npmjs.org/@github/copilot/-/copilot-1.0.64.tgz
	sha512sums = 0dc877e0d3415a35a5904531ac2e0290316e9d0b397119a41043bf3d1e8baa3db7cf3c03c33254c5603fe8adbc12891fa0f85cf612f23ec09b4bdad0f6fd9314

pkgname = github-copilot-cli
