pkgbase = github-copilot-cli
	pkgdesc = GitHub Copilot CLI brings the power of Copilot coding agent directly to your terminal.
	pkgver = 0.0.375
	pkgrel = 1
	url = https://github.com/github/copilot-cli
	arch = x86_64
	license = LicenseRef-GitHub
	makedepends = npm
	makedepends = jq
	depends = glibc
	depends = gcc-libs
	depends = nodejs
	depends = glib2
	depends = libsecret
	provides = copilot
	conflicts = github-copilot-cli
	noextract = copilot-0.0.375.tgz
	options = !strip
	options = emptydirs
	options = staticlibs
	options = zipman
	source = https://registry.npmjs.org/@github/copilot/-/copilot-0.0.375.tgz
	sha1sums = 8ff1b3478969b363e46a9a5b229cbb1353afc6c7

pkgname = github-copilot-cli
