pkgbase = agnix-bin
	pkgdesc = Linter for AI agent configurations
	pkgver = 0.41.1
	pkgrel = 1
	url = https://www.npmjs.com/package/agnix
	arch = x86_64
	arch = aarch64
	license = MIT
	license = Apache-2.0
	depends = glibc
	depends = gcc-libs
	provides = agnix
	conflicts = agnix
	options = !debug
	options = !strip
	source = LICENSE-MIT::https://raw.githubusercontent.com/agent-sh/agnix/v0.41.1/LICENSE-MIT
	source = LICENSE-APACHE::https://raw.githubusercontent.com/agent-sh/agnix/v0.41.1/LICENSE-APACHE
	sha256sums = c3a85d8bd6d5967088912c35ea7df7b11d408466a094e3057a65a78b889888b2
	sha256sums = bbfece0aadd9434b813a4e2955084a75fc4b1761a4cdb017323e87f6dd156a88
	source_x86_64 = agnix-0.41.1-x86_64.tar.gz::https://github.com/agent-sh/agnix/releases/download/v0.41.1/agnix-x86_64-unknown-linux-gnu.tar.gz
	sha256sums_x86_64 = 7ce860a0aed6b0e8446bda786ac2e84658f212e02cb52b61ec87d3499da1326a
	source_aarch64 = agnix-0.41.1-aarch64.tar.gz::https://github.com/agent-sh/agnix/releases/download/v0.41.1/agnix-aarch64-unknown-linux-gnu.tar.gz
	sha256sums_aarch64 = d12b5218e255c7755cc3008c7aad28f9e088cc098600422ae745616acf22851f

pkgname = agnix-bin
