pkgbase = agnix-bin
	pkgdesc = Linter for AI agent configurations
	pkgver = 0.48.0
	pkgrel = 1
	url = https://www.npmjs.com/package/agnix
	arch = x86_64
	arch = aarch64
	license = MIT
	license = Apache-2.0
	depends = glibc
	depends = gcc-libs
	provides = agnix
	conflicts = agnix
	options = !debug
	options = !strip
	source = LICENSE-MIT::https://raw.githubusercontent.com/agent-sh/agnix/v0.48.0/LICENSE-MIT
	source = LICENSE-APACHE::https://raw.githubusercontent.com/agent-sh/agnix/v0.48.0/LICENSE-APACHE
	sha256sums = c3a85d8bd6d5967088912c35ea7df7b11d408466a094e3057a65a78b889888b2
	sha256sums = bbfece0aadd9434b813a4e2955084a75fc4b1761a4cdb017323e87f6dd156a88
	source_x86_64 = agnix-0.48.0-x86_64.tar.gz::https://github.com/agent-sh/agnix/releases/download/v0.48.0/agnix-x86_64-unknown-linux-gnu.tar.gz
	sha256sums_x86_64 = da8a0fd2389f2fa442721ca1ecf447bc0de64bf629014f11336eaccbfe8aa2e8
	source_aarch64 = agnix-0.48.0-aarch64.tar.gz::https://github.com/agent-sh/agnix/releases/download/v0.48.0/agnix-aarch64-unknown-linux-gnu.tar.gz
	sha256sums_aarch64 = c8ddfa48d6bc3d35ef0625a7292c9be1d7a0a7f2fbced769fac284a5fdf005f5

pkgname = agnix-bin
