pkgbase = acpx-bin
	pkgdesc = Headless CLI client for stateful Agent Client Protocol sessions
	pkgver = 0.14.0
	pkgrel = 1
	url = https://github.com/openclaw/acpx
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = npm
	depends = nodejs>=22.13.0
	provides = acpx
	conflicts = acpx
	noextract = acpx-0.14.0.tgz
	options = !debug
	options = !strip
	source = https://registry.npmjs.org/acpx/-/acpx-0.14.0.tgz
	sha512sums = 5b8eb8e2e7d6adde319256ef490df4a21a367271c273c7f22144649e84ab6e4ee9f29de0baa52af6dae8afd1f5233f72a8534db04dafb40cd7622864516e6037

pkgname = acpx-bin
