pkgbase = tidewave-app
	pkgdesc = Tidewave Desktop App
	pkgver = 0.3.3
	pkgrel = 1
	url = https://github.com/tidewave-ai/tidewave_app
	arch = x86_64
	license = Apache-2.0
	depends = glibc
	provides = tidewave-app
	options = !strip
	source = tidewave-app-amd64-0.3.3-1.AppImage::https://github.com/tidewave-ai/tidewave_app/releases/download/v0.3.3/tidewave-app-amd64.AppImage
	sha256sums = 2e3cda7873b75a356d12e61d9b00b27608e757c662b1129005ff777bd0f384ab

pkgname = tidewave-app
