pkgbase = gnhf-bin
	pkgdesc = Keep coding agents running in an iterative loop
	pkgver = 0.1.45
	pkgrel = 1
	url = https://github.com/kunchenguid/gnhf
	arch = any
	license = MIT
	makedepends = npm
	depends = git
	depends = nodejs>=20
	provides = gnhf
	conflicts = gnhf
	noextract = gnhf-0.1.45.tgz
	source = https://registry.npmjs.org/gnhf/-/gnhf-0.1.45.tgz
	sha512sums = 898af95c4fdce4e002c0098df7314cfa431afccbb894051a1411e1a754062a0b079b411bc050173f7af8c179e9214e06b1ee65872437f3388889ceb12b57be95

pkgname = gnhf-bin
