pkgbase = gnhf-bin
	pkgdesc = Keep coding agents running in an iterative loop
	pkgver = 0.1.51
	pkgrel = 1
	url = https://github.com/kunchenguid/gnhf
	arch = any
	license = MIT
	makedepends = npm
	depends = git
	depends = nodejs>=20
	provides = gnhf
	conflicts = gnhf
	noextract = gnhf-0.1.51.tgz
	source = https://registry.npmjs.org/gnhf/-/gnhf-0.1.51.tgz
	sha512sums = 279945f50dc495e2d8daa55638b64a3cd0c0c20f4c370f8ec333f2d2ac7df4e1d30d9fe546094e53b7ff21d464a67babe3cd21aa092afb03f31785fcf557fa3e

pkgname = gnhf-bin
