pkgbase = clockify-cli-bin
	pkgdesc = CLI for interacting with Clockify's API
	pkgver = 0.64.3
	pkgrel = 1
	url = https://github.com/lucassabreu/clockify-cli
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	provides = clockify-cli
	conflicts = clockify-cli
	options = !debug
	source_x86_64 = clockify-cli-0.64.3-x86_64.tar.gz::https://github.com/lucassabreu/clockify-cli/releases/download/v0.64.3/clockify-cli_Linux_x86_64.tar.gz
	sha256sums_x86_64 = cb273852fe2ff87c307ca287c9149559d43f2fbc9fe5ad0ac93b32bbe7bd0b9a
	source_aarch64 = clockify-cli-0.64.3-aarch64.tar.gz::https://github.com/lucassabreu/clockify-cli/releases/download/v0.64.3/clockify-cli_Linux_arm64.tar.gz
	sha256sums_aarch64 = 2a0ad5d03919611d84affee02e94e5d10e5d6bc8305c29b61d46c137ed581cbc

pkgname = clockify-cli-bin
