pkgbase = openai-codex-bin
	pkgdesc = Lightweight coding agent that runs in your terminal (binary release)
	pkgver = 0.124.0
	pkgrel = 1
	url = https://github.com/openai/codex
	arch = x86_64
	license = Apache-2.0
	depends = glibc
	depends = libgcc_s.so
	depends = libcap.so
	depends = libz.so
	depends = libssl.so
	depends = libcrypto.so
	optdepends = git: for working with git repositories
	optdepends = ripgrep: accelerated large-repo search
	provides = openai-codex
	conflicts = openai-codex
	options = !debug
	source = codex-0.124.0-x86_64.tar.gz::https://github.com/openai/codex/releases/download/rust-v0.124.0/codex-x86_64-unknown-linux-gnu.tar.gz
	sha256sums = 0d619d52d24e36c5ed159323d921d8a6709d9ebce375045d043d7a5909fc6b09

pkgname = openai-codex-bin
