pkgbase = openai-codex-bin
	pkgdesc = Lightweight coding agent that runs in your terminal (binary release)
	pkgver = 0.84.0
	pkgrel = 1
	url = https://github.com/openai/codex
	arch = x86_64
	license = Apache
	optdepends = git: for working with git repositories
	optdepends = ripgrep: accelerated large-repo search
	provides = openai-codex
	conflicts = openai-codex
	source_x86_64 = codex-0.84.0-x86_64.tar.gz::https://github.com/openai/codex/releases/download/rust-v0.84.0/codex-x86_64-unknown-linux-gnu.tar.gz
	sha256sums_x86_64 = 0372163a1b786c1faa408cd6615e923e604b119ee03a2c35d455ce33e8c6543d

pkgname = openai-codex-bin
