pkgbase = openai-codex-bin
	pkgdesc = Lightweight coding agent that runs in your terminal (binary release)
	pkgver = 0.116.0
	pkgrel = 1
	url = https://github.com/openai/codex
	arch = x86_64
	license = Apache-2.0
	depends = glibc
	depends = libgcc_s.so
	depends = libcap.so
	depends = libz.so
	depends = libssl.so
	depends = libcrypto.so
	optdepends = git: for working with git repositories
	optdepends = ripgrep: accelerated large-repo search
	provides = openai-codex
	conflicts = openai-codex
	options = !debug
	source = codex-0.116.0-x86_64.tar.gz::https://github.com/openai/codex/releases/download/rust-v0.116.0/codex-x86_64-unknown-linux-gnu.tar.gz
	sha256sums = 9c7ccb6ae2dacd92b6ce25d552594edc9bb0683f7f1836a825996e29e8ded954

pkgname = openai-codex-bin
