pkgbase = gh-axi-bin
	pkgdesc = AXI-compliant GitHub CLI wrapper
	pkgver = 0.1.31
	pkgrel = 1
	url = https://github.com/kunchenguid/gh-axi
	arch = any
	license = MIT
	makedepends = npm
	depends = github-cli
	depends = nodejs
	provides = gh-axi
	conflicts = gh-axi
	noextract = gh-axi-0.1.31.tgz
	source = https://registry.npmjs.org/gh-axi/-/gh-axi-0.1.31.tgz
	sha512sums = a26dce59126b648bb4ca406520144e098043503ca3f191187b474567238fe63ac4072c34b7c4c2157cb6fcdbaa459be3b737295a6a51c68c687c8cffbc209063

pkgname = gh-axi-bin
