pkgbase = typescript-native
	pkgdesc = Native typescript
	pkgver = 20251230
	pkgrel = 1
	url = https://www.npmjs.com/package/@typescript/native-preview
	arch = any
	license = LicenseRef-GitHub
	makedepends = npm
	makedepends = jq
	depends = glibc
	depends = gcc-libs
	depends = nodejs
	depends = glib2
	depends = libsecret
	noextract = native-preview-7.0.0-dev.20251230.1.tgz
	options = !strip
	options = emptydirs
	options = staticlibs
	options = zipman
	source = http://registry.npmjs.org/@typescript/native-preview/-/native-preview-7.0.0-dev.20251230.1.tgz
	sha1sums = c9d35c633cb1ad2950eeb7f3fd3ee244330c5184

pkgname = typescript-native
