pkgbase = typescript-native
	pkgdesc = Native typescript
	pkgver = 20251212
	pkgrel = 1
	url = https://www.npmjs.com/package/@typescript/native-preview
	arch = any
	license = Apache
	makedepends = npm
	noextract = native-preview-7.0.0-dev.20251212.1.tgz
	source = http://registry.npmjs.org/@typescript/native-preview/-/native-preview-7.0.0-dev.20251212.1.tgz
	sha1sums = ef417646981eaf40552591e53ec1fbea89722efb

pkgname = typescript-native
