pkgbase = typescript-native
	pkgdesc = Native typescript
	pkgver = 20251220
	pkgrel = 1
	url = https://www.npmjs.com/package/@typescript/native-preview
	arch = any
	license = Apache
	makedepends = npm
	noextract = native-preview-7.0.0-dev.20251220.1.tgz
	source = http://registry.npmjs.org/@typescript/native-preview/-/native-preview-7.0.0-dev.20251220.1.tgz
	sha1sums = 0061c1df0ceb48ce9b247a34c7d384a0fd973257

pkgname = typescript-native
