pkgbase = tasks-axi-bin
	pkgdesc = AXI-compliant task/backlog CLI
	pkgver = 0.2.5
	pkgrel = 1
	url = https://github.com/kunchenguid/tasks-axi
	arch = any
	license = MIT
	makedepends = npm
	depends = nodejs>=20
	provides = tasks-axi
	conflicts = tasks-axi
	noextract = tasks-axi-0.2.5.tgz
	source = https://registry.npmjs.org/tasks-axi/-/tasks-axi-0.2.5.tgz
	sha512sums = 171b2c116efe32e50d1d627bba1746ad1b010debff670e4dbad5011dc7fcaff9e91bacfdf8d7d450879775c7431eb0bd8b110a3aa43d52899acb64cba4307a12

pkgname = tasks-axi-bin
