pkgbase = tasks-axi-bin
	pkgdesc = AXI-compliant task/backlog CLI
	pkgver = 0.2.6
	pkgrel = 1
	url = https://github.com/kunchenguid/tasks-axi
	arch = any
	license = MIT
	makedepends = npm
	depends = nodejs>=20
	provides = tasks-axi
	conflicts = tasks-axi
	noextract = tasks-axi-0.2.6.tgz
	source = https://registry.npmjs.org/tasks-axi/-/tasks-axi-0.2.6.tgz
	sha512sums = 2c35d249807ec95c25a31ab55c6b5929e59a98e7ffa03f5716a9e884962516ba9a960e571277b54a919c359310a8dcd0b61b18fa2c8cbc251e1b13b3acbe7ff5

pkgname = tasks-axi-bin
