pkgbase = linear-axi-bin
	pkgdesc = AXI wrapper for the Linear MCP server
	pkgver = 0.5.0
	pkgrel = 1
	url = https://www.npmjs.com/package/@nikolauska/linear-axi
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = npm
	depends = nodejs>=20
	provides = linear-axi
	conflicts = linear-axi
	noextract = linear-axi-0.5.0.tgz
	options = !debug
	options = !strip
	source = linear-axi-0.5.0.tgz::https://registry.npmjs.org/@nikolauska/linear-axi/-/linear-axi-0.5.0.tgz
	sha512sums = a7659b5e17bff79761366d73aafb719fabe89797ea06fea20b9e6537f0c22c5dda8115a308a9241a1e2eb73cba0ef9502bc0f7ce217d7e9b7d58b01523cf52c8

pkgname = linear-axi-bin
