pkgbase = pup-cli-bin
	pkgdesc = CLI companion for interacting with Datadog products
	pkgver = 1.6.3
	pkgrel = 1
	url = https://github.com/DataDog/pup
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	provides = pup-cli
	conflicts = pup-cli
	conflicts = pup
	options = !debug
	source_x86_64 = pup-1.6.3-x86_64.tar.gz::https://github.com/DataDog/pup/releases/download/v1.6.3/pup_1.6.3_Linux_x86_64.tar.gz
	sha256sums_x86_64 = 92d61ca38faa80699165cb222086c58fc79269e61852f19afe23b86d383006c3
	source_aarch64 = pup-1.6.3-aarch64.tar.gz::https://github.com/DataDog/pup/releases/download/v1.6.3/pup_1.6.3_Linux_arm64.tar.gz
	sha256sums_aarch64 = f1da07d493b88333dca7ddd8df27dc85ac1c095f825f52ad8214db45d0e3cd03

pkgname = pup-cli-bin
