pkgbase = pup-cli-bin
	pkgdesc = CLI companion for interacting with Datadog products
	pkgver = 1.20.0
	pkgrel = 1
	url = https://github.com/DataDog/pup
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	provides = pup-cli
	conflicts = pup-cli
	conflicts = pup
	options = !debug
	source_x86_64 = pup-1.20.0-x86_64.tar.gz::https://github.com/DataDog/pup/releases/download/v1.20.0/pup_1.20.0_Linux_x86_64.tar.gz
	sha256sums_x86_64 = 535a5873be159ee3d79a8029f71903906cd80de4ea4ba6d9fb40331077899fa2
	source_aarch64 = pup-1.20.0-aarch64.tar.gz::https://github.com/DataDog/pup/releases/download/v1.20.0/pup_1.20.0_Linux_arm64.tar.gz
	sha256sums_aarch64 = 86818b892663372b6ce63ba2b0091ce4cd809a8f7ebd33d61408b008fe9ec9d1

pkgname = pup-cli-bin
