pkgbase = tidewave-cli-bin
	pkgdesc = Tidewave CLI
	pkgver = 0.4.5
	pkgrel = 1
	url = https://github.com/tidewave-ai/tidewave_app
	arch = x86_64
	license = Apache-2.0
	depends = glibc
	depends = libgcc_s.so
	provides = tidewave-cli
	conflicts = tidewave-cli
	options = !debug
	source = tidewave-cli-x86_64-0.4.5-1-unknown-linux-gnu::https://github.com/tidewave-ai/tidewave_app/releases/download/v0.4.5/tidewave-cli-x86_64-unknown-linux-gnu
	source = LICENSE::https://raw.githubusercontent.com/tidewave-ai/tidewave_app/v0.4.5/LICENSE
	sha256sums = 7f2a229a583531a9a9b282d7d0588341965550a664c7d77561522db858b8a0d0
	sha256sums = 59899c6091b540582ed617e8eeaac4919dc985ccfc35459ee9752b699be5205b

pkgname = tidewave-cli-bin
