pkgbase = codebase-memory-mcp-bin
	pkgdesc = High-performance code intelligence MCP server
	pkgver = 0.10.2
	pkgrel = 2
	url = https://github.com/DeusData/codebase-memory-mcp
	arch = x86_64
	license = MIT
	depends = glibc
	depends = gcc-libs
	depends = zlib
	provides = codebase-memory-mcp
	conflicts = codebase-memory-mcp
	options = !debug
	options = !strip
	source = codebase-memory-mcp-0.10.2-linux-amd64.tar.gz::https://github.com/DeusData/codebase-memory-mcp/releases/download/v0.10.2/codebase-memory-mcp-linux-amd64.tar.gz
	source = codebase-memory-mcp.service
	sha256sums = 6e3bb7353be21407a78e67b5465e53e3afb1a4a213e7a561606900ac08dcfdd6
	sha256sums = 8f252589020ac6155ee6e4d236517599a1c0084fc2e6e93d079e0dee4be1ea08

pkgname = codebase-memory-mcp-bin
