pkgbase = codebase-memory-mcp-bin
	pkgdesc = High-performance code intelligence MCP server
	pkgver = 0.10.6
	pkgrel = 1
	url = https://github.com/DeusData/codebase-memory-mcp
	arch = x86_64
	license = MIT
	depends = glibc
	depends = gcc-libs
	depends = zlib
	provides = codebase-memory-mcp
	conflicts = codebase-memory-mcp
	options = !debug
	options = !strip
	source = codebase-memory-mcp-0.10.6-linux-amd64.tar.gz::https://github.com/DeusData/codebase-memory-mcp/releases/download/v0.10.6/codebase-memory-mcp-linux-amd64.tar.gz
	source = codebase-memory-mcp.service
	sha256sums = 13b29193a8a2bcc121b3551a2c8d26f2edcbdd7128e6690cf8e3e468ca96c4f1
	sha256sums = 8f252589020ac6155ee6e4d236517599a1c0084fc2e6e93d079e0dee4be1ea08

pkgname = codebase-memory-mcp-bin
