pkgbase = sentry-axi-bin
	pkgdesc = AXI wrapper for the Sentry MCP server
	pkgver = 0.4.0
	pkgrel = 1
	url = https://www.npmjs.com/package/@nikolauska/sentry-axi
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = npm
	depends = nodejs>=24
	provides = sentry-axi
	conflicts = sentry-axi
	noextract = sentry-axi-0.4.0.tgz
	options = !debug
	options = !strip
	source = sentry-axi-0.4.0.tgz::https://registry.npmjs.org/@nikolauska/sentry-axi/-/sentry-axi-0.4.0.tgz
	sha512sums = 920f54b0205db09a080590643a174bddb3cf5b5a9877f3e41f4d0c3c905b6cb5544e8a63f53deac7fadc8c0df35d63721e8189bd28c633b55a416d95bd9b22a8

pkgname = sentry-axi-bin
