pkgbase = pi-agent
	pkgdesc = Minimal terminal coding agent that adapts to your workflows
	pkgver = 0.74.0
	pkgrel = 2
	url = https://github.com/earendil-works/pi
	arch = x86_64
	license = MIT
	depends = glibc
	depends = npm
	depends = bash
	provides = pi
	conflicts = pi
	options = !debug
	options = !strip
	source = pi-0.74.0-linux-x64.tar.gz::https://github.com/earendil-works/pi/releases/download/v0.74.0/pi-linux-x64.tar.gz
	source = LICENSE::https://raw.githubusercontent.com/earendil-works/pi/v0.74.0/LICENSE
	sha256sums = d67657a30d49c9faca80868d2a4bdba4dfcac04702893f45a6d14b249345eb8d
	sha256sums = 0457f5bcec3b3b211605dfb5d1a49042fd638f3686a410fe099c24a25af13c48

pkgname = pi-agent
