pkgbase = skillcheck-bin
	pkgdesc = Linter for agent skill directories
	pkgver = 0.2.4
	pkgrel = 1
	url = https://www.npmjs.com/package/@jkeskikangas/skillcheck
	arch = any
	license = Apache-2.0
	makedepends = npm
	depends = nodejs>=18
	provides = skillcheck
	conflicts = skillcheck
	noextract = skillcheck-0.2.4.tgz
	source = skillcheck-0.2.4.tgz::https://registry.npmjs.org/@jkeskikangas/skillcheck/-/skillcheck-0.2.4.tgz
	source = LICENSE::https://raw.githubusercontent.com/jkeskikangas/skills/v0.2.4/LICENSE
	sha512sums = aa573fdbdc189194a5e19d41185a6971cf0af631d081e989068c34c4c4e5a053c0ca90247aaf7f20414dc7ef91509497d9e81f1479956706e70061e60c944815
	sha512sums = dc6b68d13b8cf959644b935f1192b02c71aa7a5cf653bd43b4480fa89eec8d4d3f16a2278ec8c3b40ab1fdb233b3173a78fd83590d6f739e0c9e8ff56c282557

pkgname = skillcheck-bin
