pkgbase = oh-my-pi-bin
	pkgdesc = AI coding agent for the terminal
	pkgver = 17.3.5
	pkgrel = 1
	url = https://github.com/can1357/oh-my-pi
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = glibc
	provides = oh-my-pi
	conflicts = oh-my-pi
	options = !debug
	options = !strip
	source = LICENSE::https://raw.githubusercontent.com/can1357/oh-my-pi/v17.3.5/LICENSE
	sha256sums = 545636e19386d3d4e0ae6d77354527499999c3ebfbca61b9fa5aa4ead7c0b308
	source_x86_64 = omp-17.3.5-x86_64::https://github.com/can1357/oh-my-pi/releases/download/v17.3.5/omp-linux-x64
	sha256sums_x86_64 = 605b4a8a3a137489a91d59e7028c41f3aff20169f352902b41089fbfdf8a253c
	source_aarch64 = omp-17.3.5-x86_64::https://github.com/can1357/oh-my-pi/releases/download/v17.3.5/omp-linux-arm64
	sha256sums_aarch64 = 605b4a8a3a137489a91d59e7028c41f3aff20169f352902b41089fbfdf8a253c

pkgname = oh-my-pi-bin
