pkgbase = oh-my-pi-bin
	pkgdesc = AI coding agent for the terminal
	pkgver = 18.4.10
	pkgrel = 1
	url = https://github.com/can1357/oh-my-pi
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = glibc
	provides = oh-my-pi
	conflicts = oh-my-pi
	options = !debug
	options = !strip
	source = LICENSE::https://raw.githubusercontent.com/can1357/oh-my-pi/v18.4.10/LICENSE
	sha256sums = 545636e19386d3d4e0ae6d77354527499999c3ebfbca61b9fa5aa4ead7c0b308
	source_x86_64 = omp-18.4.10-x86_64::https://github.com/can1357/oh-my-pi/releases/download/v18.4.10/omp-linux-x64
	sha256sums_x86_64 = e3f24c475d90b83acec05a26fd4499d2e6dffbf4ca3b0ee9e3e1bc1ab1a4e289
	source_aarch64 = omp-18.4.10-x86_64::https://github.com/can1357/oh-my-pi/releases/download/v18.4.10/omp-linux-arm64
	sha256sums_aarch64 = e3f24c475d90b83acec05a26fd4499d2e6dffbf4ca3b0ee9e3e1bc1ab1a4e289

pkgname = oh-my-pi-bin
