pkgbase = oh-my-pi-bin
	pkgdesc = AI coding agent for the terminal
	pkgver = 17.2.1
	pkgrel = 1
	url = https://github.com/can1357/oh-my-pi
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = glibc
	provides = oh-my-pi
	conflicts = oh-my-pi
	options = !debug
	options = !strip
	source = LICENSE::https://raw.githubusercontent.com/can1357/oh-my-pi/v17.2.1/LICENSE
	sha256sums = 545636e19386d3d4e0ae6d77354527499999c3ebfbca61b9fa5aa4ead7c0b308
	source_x86_64 = omp-17.2.1-x86_64::https://github.com/can1357/oh-my-pi/releases/download/v17.2.1/omp-linux-x64
	sha256sums_x86_64 = ac0285a571aa79c58d59482561a3871befe7333dba3a3bdc2e90682653ee33b2
	source_aarch64 = omp-17.2.1-x86_64::https://github.com/can1357/oh-my-pi/releases/download/v17.2.1/omp-linux-arm64
	sha256sums_aarch64 = ac0285a571aa79c58d59482561a3871befe7333dba3a3bdc2e90682653ee33b2

pkgname = oh-my-pi-bin
