pkgbase = collie-bin
	pkgdesc = Mobile web interface for terminal multiplexers and AI coding agents
	pkgver = 1.13.1
	pkgrel = 1
	url = https://github.com/AltanS/collie
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = glibc
	optdepends = herdr>=0.7.0: Herdr multiplexer backend
	optdepends = tmux: tmux multiplexer backend
	optdepends = zellij: Zellij multiplexer backend
	optdepends = tailscale: publish the default secure remote access endpoint
	provides = collie
	conflicts = collie
	options = !debug
	options = !strip
	source_x86_64 = https://github.com/AltanS/collie/releases/download/v1.13.1/collie-1.13.1-linux-x64.tar.gz
	sha256sums_x86_64 = 28c7c7a46c1846ebfa972e157bfdd806100edbe388b31283fa1acf1ca60d707e
	source_aarch64 = https://github.com/AltanS/collie/releases/download/v1.13.1/collie-1.13.1-linux-arm64.tar.gz
	sha256sums_aarch64 = 433d81caf9b4bf6cf8214f02a7c0ea9fdb8e5b6b6d8be6e004e033fa76ec7409

pkgname = collie-bin
