pkgbase = collie-bin
	pkgdesc = Mobile web interface for terminal multiplexers and AI coding agents
	pkgver = 1.9.0
	pkgrel = 1
	url = https://github.com/AltanS/collie
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = glibc
	optdepends = herdr>=0.7.0: Herdr multiplexer backend
	optdepends = tmux: tmux multiplexer backend
	optdepends = zellij: Zellij multiplexer backend
	optdepends = tailscale: publish the default secure remote access endpoint
	provides = collie
	conflicts = collie
	options = !debug
	options = !strip
	source_x86_64 = https://github.com/AltanS/collie/releases/download/v1.9.0/collie-1.9.0-linux-x64.tar.gz
	sha256sums_x86_64 = 7d82c1d5d70d533f844c03b3ccbeb2d2459404b27d11ce0437f112f7b171c7fb
	source_aarch64 = https://github.com/AltanS/collie/releases/download/v1.9.0/collie-1.9.0-linux-arm64.tar.gz
	sha256sums_aarch64 = ed0bdaf6093f0043ebd3e22b45f1e738d24510803586a3a1e1ad0ea7406cdde3

pkgname = collie-bin
