pkgbase = collie-bin
	pkgdesc = Mobile web interface for terminal multiplexers and AI coding agents
	pkgver = 1.14.2
	pkgrel = 1
	url = https://github.com/AltanS/collie
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = glibc
	optdepends = herdr>=0.7.0: Herdr multiplexer backend
	optdepends = tmux: tmux multiplexer backend
	optdepends = zellij: Zellij multiplexer backend
	optdepends = tailscale: publish the default secure remote access endpoint
	provides = collie
	conflicts = collie
	options = !debug
	options = !strip
	source_x86_64 = https://github.com/AltanS/collie/releases/download/v1.14.2/collie-1.14.2-linux-x64.tar.gz
	sha256sums_x86_64 = cfdd506ad534f5799f69966a2686a92db2f2f96b95ea9837ac8da20deb0885c6
	source_aarch64 = https://github.com/AltanS/collie/releases/download/v1.14.2/collie-1.14.2-linux-arm64.tar.gz
	sha256sums_aarch64 = 2cc93e1e8cf1ceedd11178e09f5ced2cb2b3b74849fdf773df5dd2ba864ff569

pkgname = collie-bin
