pkgbase = quota-axi-bin
	pkgdesc = AXI CLI that reports local agent-provider quota windows
	pkgver = 0.1.28
	pkgrel = 1
	url = https://github.com/kunchenguid/quota-axi
	arch = any
	license = MIT
	makedepends = npm
	depends = nodejs>=22.19
	provides = quota-axi
	conflicts = quota-axi
	noextract = quota-axi-0.1.28.tgz
	source = https://registry.npmjs.org/quota-axi/-/quota-axi-0.1.28.tgz
	sha512sums = 130723500d1b068dd0741cb6b0aaf703f83d5aea7c178af4bb6151287eb01ecfab696fb1ca25d56c755b924cae9f7f73183b011cdea870437b61427fdebc71d8

pkgname = quota-axi-bin
