pkgbase = codebase-memory-mcp-axi-bin
	pkgdesc = Agent-oriented codebase-memory-mcp CLI with compact TOON output
	pkgver = 0.3.1
	pkgrel = 1
	url = https://www.npmjs.com/package/@nikolauska/cbm-axi
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = npm
	depends = codebase-memory-mcp
	depends = nodejs>=18
	provides = codebase-memory-mcp-axi
	conflicts = codebase-memory-mcp-axi
	noextract = cbm-axi-0.3.1.tgz
	options = !debug
	options = !strip
	source = cbm-axi-0.3.1.tgz::https://registry.npmjs.org/@nikolauska/cbm-axi/-/cbm-axi-0.3.1.tgz
	sha512sums = aa82d4ea1298b62bd46eb9c6c30b3531704faef629ab6a5938ded7c023c26a91242929a186fac3e68727c8ea562b6318ac5bf92466c95385b7d6381ae926befa

pkgname = codebase-memory-mcp-axi-bin
