pkgbase = stripe-mock-bin
	pkgdesc = Mock HTTP server that responds like the Stripe API
	pkgver = 0.205.0
	pkgrel = 1
	url = https://github.com/stripe/stripe-mock
	arch = x86_64
	license = MIT
	provides = stripe-mock
	conflicts = stripe-mock
	options = !debug
	source = stripe-mock_0.205.0_linux_amd64.tar.gz::https://github.com/stripe/stripe-mock/releases/download/v0.205.0/stripe-mock_0.205.0_linux_amd64.tar.gz
	sha256sums = 1696dc952c3e0c1940b7cea52be640704daaa88a17a4a0f696b5092db816eb9e

pkgname = stripe-mock-bin
