pkgbase = stripe-mock-bin
	pkgdesc = Mock HTTP server that responds like the Stripe API
	pkgver = 0.206.0
	pkgrel = 1
	url = https://github.com/stripe/stripe-mock
	arch = x86_64
	license = MIT
	provides = stripe-mock
	conflicts = stripe-mock
	options = !debug
	source = stripe-mock_0.206.0_linux_amd64.tar.gz::https://github.com/stripe/stripe-mock/releases/download/v0.206.0/stripe-mock_0.206.0_linux_amd64.tar.gz
	sha256sums = b6fe5a8f02aaeb5a5001710b304fc93a222f1983a9a6050a38f55cfdc48b8d19

pkgname = stripe-mock-bin
